.navbar-fixed-top li {
	border-right: 1px solid black;
	border-bottom: 1px solid black;

}

.navbar-fixed-top li:first-child {
	border-bottom: 0;
}

.icon {
	height: 50px;
	width: 50px;

	padding: .2em;
}

.btn-center {
	display: block;
	margin: 0 auto;
}

.form-control {
	& {
		display: block;

	//width: 40%;
	height: auto;
	}	
}

#signup .form-control:nth-of-type(2) {
	color: blue !important;
}